@{
   ViewData["Title"] = "Main";
}
	<div class="main_wrapper">
		<ul class="news_list">
		@foreach(var NewsPage in ViewBag.News)
		{
			<li class="news_item">
				<img class="news_image"  src="@NewsPage[2]" height="200" width="300">
					<div class="news_text">
						<strong class="news_title"><a href="http://localhost:5252/News/NewsPage/@NewsPage[0]">@NewsPage[1]</a></strong>
						<!--<div class="news_content" >Коты коты коты коты коты коты коты коты коты коты коты коты коты</div>-->
					</div>
			</li>
		}
		</ul>
	</div>