@{
    ViewData["Title"] = "About";
}
			<div class="main_wrapper">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fproprikol.ru%2Fwp-content%2Fuploads%2F2019%2F08%2Fkartinki-nyashnye-kotiki-27.jpg&f=1&nofb=1&ipt=92dc75b5eafcf3bbd9102b527719260d519660ce6406217c9c8b7c5ae3a0e614&ipo=images" height="400" width="600">
				<h1><a> Мы команда просто класс.<br> Подойди попробуй квас</a></h1>
				<h2> @Html.Raw(@ViewData["Message"]) </h2>
			</div>
