@{
    ViewData["Title"] = "News";
}
			<div class="main_wrapper">
				<div class="news_panel">Panel</div>
				<ul class="news_list">
					<li class="news_item">
						<img class="news_image" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fthewowstyle.com%2Fwp-content%2Fuploads%2F2015%2F04%2FGray-Cat-MorgueFile-Nov16th-2013.jpg&f=1&nofb=1&ipt=df124cf4ba60923ff47423abf1e187cf23f87ecf5036f7313029d1a6ac98d03a&ipo=images" height="200" width="300">
						<div class="news_text">
							<strong class="news_title">Коты в нашей жизни</strong>
							<div class="news_content" >Коты коты коты коты коты коты коты коты коты коты коты коты коты</div>
						</div>
					</li>
					<li class="news_item">
						<img class="news_image" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.yDY2sxuNCr_1c7hu_WPLDQHaFj%26pid%3DApi&f=1&ipt=c5ad2c1d0baaff4fc6e2d0c80192f1caffc5b8f5051a95d255e57d50864fd1a3&ipo=images" height="200" width="300">
						<div class="news_text">
							<strong class="news_title">Коты в нашей жизни</strong>
							<div class="news_content" >Коты коты коты коты коты коты коты коты коты коты коты коты коты</div>
						</div>
					</li>
					<li class="news_item">
						<img class="news_image" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F2.bp.blogspot.com%2F-Q_ya18V3zBo%2FTXcfww3d2NI%2FAAAAAAAAABs%2FrKd-buCyckk%2Fs1600%2Fcats_012.jpg&f=1&nofb=1&ipt=76c6a2e5ece5e60c195775c1fa59bd3364987a93713f1c6a9ea5ed64f0b8ef60&ipo=images" height="200" width="300">
						<div class="news_text">
							<strong class="news_title">Коты в нашей жизни</strong>
							<div class="news_content" >Коты коты коты коты коты коты коты коты коты коты коты коты коты</div>
						</div>
					</li>
					<li class="news_item">
						<img class="news_image" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimagesvc.meredithcorp.io%2Fv3%2Fmm%2Fimage%3Furl%3Dhttps%3A%252F%252Fstatic.onecms.io%252Fwp-content%252Fuploads%252Fsites%252F47%252F2020%252F08%252F07%252Fgray-tabby-american-shorthair_757090435-1-2000.jpg&f=1&nofb=1&ipt=eaefa49288dd7c8848c4076265aeca793342b8e56270f67fa9e715e7a10c5eac&ipo=images" height="200" width="300">
						<div class="news_text">
							<strong class="news_title">Коты в нашей жизни</strong>
							<div class="news_content" >Коты коты коты коты коты коты коты коты коты коты коты коты коты</div>
						</div>
					</li>
					<li class="news_item">
						<img class="news_image" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fi.huffpost.com%2Fgen%2F1968667%2Fimages%2Fo-CAT-facebook.jpg&f=1&nofb=1&ipt=37fd011a549e2aad3926fb8db1e9c79975420e984049c5bc84dfe220f3f8d011&ipo=images" height="200" width="300">
						<div class="news_text">
							<strong class="news_title">Коты в нашей жизни</strong>
							<div class="news_content" >Коты коты коты коты коты коты коты коты коты коты коты коты коты</div>
						</div>
					</li>
				</ul>
			</div>
