@{
    ViewData["Title"] = "About";
}
	<div class="main_wrapper">
		<h1>@ViewData["Message"]</h1>
		<a  asp-controller="Profile" asp-action="Registration">Registration</a>
		<br>
		<a  asp-controller="Profile" asp-action="Login">Login</a>
	</div>
